[Unit]
Description=Run gpu-agent validate
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/gpu-agent
ExecStart=/opt/gpu-agent/bin/gpu-agent validate
User=root
